<div class="container-fluid" lang-group="PLAN_SHIPMENT_APPROVE">
    <div ng-if="step == 1"><span kkf-permssion-notfound="PLAN_SHIPMENT_APPROVE1"></span></div>
    <div ng-if="step == 2"><span kkf-permssion-notfound="PLAN_SHIPMENT_APPROVE2"></span></div>
    <!--<div ng-if="step == 3"><span kkf-permssion-notfound="PLAN_SHIPMENT_APPROVE3"></span></div>-->
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/plan">plan</a></li>
            <li><a href="#">shipment</a></li>
            <li class="active"><a href="#">approve</a></li>
        </ol>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><span lang-codeDisable="PN_PLANLIST">Shipment Plan - {{ titlePage }}</span></div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group w100-mb5">
                    <label class="w100p"><span lang-codeDisalbe="LB_DATEPLAN">Month Plan</span> : </label>
                    <kss-pattern-date placeholder="00/0000"
                                      ng-model="datePlan"
                                      ng-change="tmpfn"></kss-pattern-date>
                </div>
                <div class="form-group w150-mb5" ng-show="step == 2">
                    <label class="w100p"><span lang-codeDisalbe="LB_SALES">Regional Manager</span> : </label>
                    <tags-input ng-model="regionalManager"
                                add-on-paste="true"
                                placeholder="code"
                                display-property="code"
                                min-length="1"
                                add-from-autocomplete-only="true"
                                replace-spaces-with-dashes="false">
                        <auto-complete source="LoadRegionalManager($query)"
                                       min-length="0"
                                       display-property="text"
                                       load-on-focus="true"
                                       load-on-empty="true"
                                       load-on-down-arrow="true"
                                       debounce-delay="0"
                                       max-results-to-show="15"></auto-complete>
                    </tags-input>
                </div>
                <div class="form-group w200-mb5" ng-show=" step < 3">
                    <label class="w100p"><span lang-codeDisalbe="LB_SALES">Sales Representative</span> : </label>
                    <tags-input ng-model="sales"
                                add-on-paste="true"
                                placeholder="code"
                                display-property="code"
                                min-length="1"
                                add-from-autocomplete-only="true"
                                replace-spaces-with-dashes="false">
                        <auto-complete source="LoadSales($query)"
                                       min-length="0"
                                       display-property="text"
                                       load-on-focus="true"
                                       load-on-empty="true"
                                       load-on-down-arrow="true"
                                       debounce-delay="0"
                                       max-results-to-show="15"></auto-complete>
                    </tags-input>
                </div>
                <div class="form-group w200-mb5" ng-show="step == 3">
                    <label class="w100p"><span lang-codeDisable="LB_ZONE">Regional Zone</span> : </label>
                    <tags-input ng-model="regzone"
                                add-on-paste="true"
                                placeholder="code"
                                display-property="code"
                                min-length="1"
                                add-from-autocomplete-only="true"
                                replace-spaces-with-dashes="false">
                        <auto-complete source="LoadRegzone($query)"
                                       min-length="0"
                                       display-property="text"
                                       load-on-focus="true"
                                       load-on-empty="true"
                                       load-on-down-arrow="true"
                                       debounce-delay="0"
                                       max-results-to-show="15"></auto-complete>
                    </tags-input>
                </div>
                <div class="form-group w200-mb5" ng-show="step > 0">
                    <label class="w100p"><span lang-codeDisable="LB_ZONE">Zone</span> : </label>
                    <tags-input ng-model="zones"
                                add-on-paste="true"
                                placeholder="Zone Code"
                                display-property="code"
                                min-length="1"
                                add-from-autocomplete-only="true"
                                replace-spaces-with-dashes="false">
                        <auto-complete source="LoadZones($query)"
                                       min-length="0"
                                       display-property="text"
                                       load-on-focus="true"
                                       load-on-empty="true"
                                       load-on-down-arrow="true"
                                       debounce-delay="0"
                                       max-results-to-show="30"></auto-complete>
                    </tags-input>
                </div>
                <div class="form-group w200-mb5">
                    <label class="w100p"><span lang-codeDisable="LB_CUSTOMERS">Customers</span> : </label>
                    <tags-input ng-model="customers"
                                add-on-paste="true"
                                placeholder="code"
                                display-property="code"
                                min-length="1"
                                add-from-autocomplete-only="true"
                                replace-spaces-with-dashes="false">
                        <auto-complete source="LoadCustomers($query)"
                                       min-length="0"
                                       display-property="text"
                                       load-on-focus="true"
                                       load-on-empty="true"
                                       load-on-down-arrow="true"
                                       debounce-delay="0"
                                       max-results-to-show="15"></auto-complete>
                    </tags-input>
                </div>
                <div class="form-group w200-mb5">
                    <label class="w100p"><span lang-codeDisable="LB_DATEPLAN">Status</span> : </label>
                    <kss-autocomplete id="'ShipmentApproveStatusID'"
                                      list="status.list"
                                      placeholder="PH_countryGroup"
                                      limit="15"
                                      stylex=""
                                      ng-model="status.view"
                                      ng-change="status.SetID"></kss-autocomplete>
                </div>
                <div class="form-group w100-mb5">
                    <label class="w100p hidden-xs color-255">&nbsp;</label>
                    <button class="btn btn-info"
                            ng-click="shipmentApproveController_LoadData()"
                            lang-codeDisable="BTN_SEARCH">
                        Search
                    </button>
                </div>
            </form>
            <div class="row both" style="height:15px;"></div>

            <div class="panel panel-success" ng-controller="shipmentApproveListCtrl">
                <div class="panel-heading"><span lang-codeDisable="PN_PLANLIST">Shipment Plan List</span></div>
                <div class="panel-body">
                    <!-- ui-grid -->
                    <div ui-grid="gridOpt" ui-grid-selection ui-grid-cellNav ui-grid-move-columns ui-grid-pinning ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize ui-grid-cell-selection class="grid multi-line" style="height:350px;"></div>
                    <div class="form-inline">
                        <button ng-disabled="btnAppr"
                                ng-click="StatusUpDate(1)"
                                ng-show="step == 1"
                                kkf-permssion-view="PLANLIST_BTN_SENDTOAPPROVE"
                                class="btn btn-info btn-after-grid">
                            Send to Approve
                        </button>
                        <button ng-disabled="btnCancelAppr"
                                ng-click="StatusUpDate(0)"
                                ng-show="step == 1"
                                kkf-permssion-view="PLANLIST_BTN_CANCELAPPROVE"
                                class="btn btn-warning btn-after-grid">
                            Cancel Send to Approve
                        </button>
                        <button ng-disabled="btnAppr"
                                ng-click="StatusUpDate(1)"
                                ng-show="step > 1"
                                kkf-permssion-view="PLANLIST_BTN_SENDTOAPPROVE"
                                class="btn btn-success btn-after-grid">
                            Approve
                        </button>
                        <button ng-disabled="btnNotAppr"
                                ng-click="StatusUpDate(2)"
                                ng-show="step > 1"
                                kkf-permssion-view="PLANLIST_BTN_CANCELAPPROVE"
                                class="btn btn-warning btn-after-grid">
                            Not Approve
                        </button>
                        <button ng-disabled="btnCancelAppr"
                                ng-click="StatusUpDate(0)"
                                ng-show="step > 1"
                                kkf-permssion-view="PLANLIST_BTN_CANCELAPPROVE"
                                class="btn btn-danger btn-after-grid">
                            Cancel Approve
                        </button>
                    </div>
                </div>
                <div class="panel-footer" kkf-permssion-view="STATUS_BAR">
                    <div class="tag-status" title="{{ IP_DB }}sxtShipmentPlanH">
                        {{ IP_DB }}sxtShipmentPlanH
                    </div>
                </div>
            </div>

            <div class="panel panel-success" ng-controller="shipmentApproveDetailCtrl">
                <div class="panel-heading"><span lang-codeDisableDisable="PN_PLANLIST">Shipment Plan Detail</span> - Week: {{ week }}, PlanDate: {{ planDate }}, Customer: {{ customer }}</div>
                <div class="panel-body">
                    <!-- ui-grid -->
                    <div ui-grid="gridOpt" ui-grid-selection ui-grid-cellNav ui-grid-move-columns ui-grid-pinning ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize ui-grid-cell-selection class="grid multi-line" style="height:350px;"></div>
                </div>
                <div class="panel-footer" kkf-permssion-view="STATUS_BAR">
                    <div class="tag-status" title="{{ IP_DB }}sxtShipmentPlanD">
                        {{ IP_DB }}sxtShipmentPlanD
                    </div>
                </div>
            </div>

            <!--<div class="form-inline right">
                <button ng-click="ExportExcel()"
                        ng-disabled="!btnExport"
                        kkf-permssion-view="PLANLIST_BTN_AUTOPLAN"
                        class="btn btn-primary margin-right-5px">
                    Export Excel
                </button>
            </div>-->

        </div>
    </div>
    <div class="footerbar">COPYRIGHT &copy; {{ footerText }}</div>

</div>